<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Profile</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
</head>

<body>

<nav class="navbar navbar-light bg-faded">
    <div class="nav navbar-nav">
        <a class="navbar-brand m-b-0" href="#">Ping-Pong</a>
        <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/rooms">Rooms</a>
        <a class="nav-item nav-link active" href="/profile">Profile</a>
        <a class="nav-item nav-link" href="/logout">Sign out</a>
    </div>
</nav>

<div class="container">
    <br/>
    <div class="jumbotron">
        <h1 class="display-4">Your Profile</h1>
        <p class="lead">
            Nickname:&nbsp<span th:utext="${name}"></span><br/>
            Name:&nbsp<span th:utext="${userName}"></span><br/>
            Lastname:&nbsp<span th:utext="${lastName}"></span><br/>
            Email:&nbsp<span th:utext="${email}"></span>
        <hr class="my-4">
        <p>You can start playing.</p>
        <a class="btn btn-primary btn-lg" href="/rooms" role="button">Rooms</a>
    </div>

</div>

</body>
</html>