<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Profile</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>

<nav class="shadow navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Ping-Pong</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav, #navbarNavEnd"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="/rooms">Rooms</a>
        </div>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavEnd">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/profile" th:text="${username}"></a>
            <a class="nav-item nav-link" href="/logout">Sign out</a>
        </div>
    </div>
</nav>

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Your Profile</h1>
        <p class="lead text-muted">
            Nickname:&nbsp<span th:utext="${userName}"></span><br/>
            Name:&nbsp<span th:utext="${name}"></span><br/>
            Lastname:&nbsp<span th:utext="${lastName}"></span><br/>
            Email:&nbsp<span th:utext="${email}"></span>
        <hr class="my-4">
        <p>You can start playing.</p>
        <a class="btn btn-primary btn-lg" href="/rooms" role="button">Rooms</a>
    </div>
</section>

</body>
</html>