<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/signin.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body class="text-center">
<form class="form-signin" th:align="center" autocomplete="off" action="#"
      th:action="@{/registration}" th:object="${user}" method="post">
    <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>

    <label for="inputUsername" class="sr-only">Username</label>
    <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
            class="validation-message"></label>
    <input type="text" id="inputUsername" class="form-control" placeholder="Username"
           th:field="*{username}" name="username" required="" autofocus="">


    <label for="inputName" class="sr-only">Name</label>
    <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
           class="validation-message"></label>
    <input type="text" id="inputName" class="form-control" placeholder="First Name"
           required="" th:field="*{name}">

    <label for="inputLastname" class="sr-only">Last Name</label>
    <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
           class="validation-message"></label>
    <input type="text" id="inputName" class="form-control" placeholder="Last Name"
           required="" th:field="*{lastName}">

    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email"
           name="email" required="" th:field="*{email}">
    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('email')}">
        <span th:errors="*{email}"></span>
    </div>

    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password"
           name="password" required="" th:field="*{password}">
    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('password')}">
        <span th:errors="*{password}"></span>
    </div>

    <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="submit">Sign in</button>

    <div class="alert alert-success" role="alert" th:if="${successMessage}">
        <br/><span th:text="${successMessage}"></span>
    </div>
    <p class="mt-5 mb-3 text-muted">Already have account? <a th:href="@{/login}">Sign in</a></p>
    <p class="mt-5 mb-3 text-muted">© SUAI56 2018</p>
</form>
</body>

</html>