<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Websocket</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>

<nav class="navbar navbar-light bg-faded">
    <div class="nav navbar-nav">
        <a class="navbar-brand m-b-0" href="#">Ping-Pong</a>
        <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/rooms">Rooms</a>
        <a class="nav-item nav-link" href="/profile">Profile</a>
        <a class="nav-item nav-link" href="/logout">Sign out</a>
    </div>
</nav>

<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>

<span id="username" th:text="${username}" style="display: none"></span>

<canvas id="pong"></canvas>

<!--<div class="form-check">-->
    <!--<input type="checkbox" class="form-check-input" id="readinessCheck">-->
    <!--<label class="form-check-label" for="readinessCheck">Ready</label>-->
<!--</div>-->
<!--<div class="form-check">-->
    <!--<input type="checkbox" class="form-check-input" id="readinessOpponentCheck" disabled>-->
    <!--<label class="form-check-label" for="readinessOpponentCheck">Opponet ready</label>-->
<!--</div>-->
<div class="form-check">
    <label class="form-check-label">
        <input type="checkbox" class="form-check-input" id="readinessCheck">
        Ready
    </label>
</div>
<div class="form-check">
    <label class="form-check-label">
        <input type="checkbox" class="form-check-input" id="readinessOpponentCheck" disabled >
        Opponet ready
    </label>
</div>

<script th:src="@{/js/game.js}"></script>

</body>
</html>